* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: linear-gradient(135deg, #C96567, #C96567); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F5F5F5;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 320px;
}

.logo {
    width: 400px; 
    height: auto;
    margin-bottom: 10px;
    margin-top: 210px;
    filter: drop-shadow(0 0 5px rgb(252, 252, 252)); 
    display: block;
}

h1 {
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
}

.signup-container {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 12px;
    padding: 40px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%; 
    max-width: 500px; 
    animation: fadeIn 1s ease;
    position: relative;
    z-index: 1;
    margin: 20px; 
}

.signup-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    margin-bottom: 20px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2); 
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 10px rgba(201, 101, 103, 0.6);
    border: 1px solid rgba(201, 101, 103, 0.8);
}

textarea {
    resize: none;
    height: 120px;
}

.upload-button-container {
    position: relative;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none; 
}

.upload-button {
    display: inline-block;
    padding: 12px 20px;
    background: linear-gradient(135deg, #C96567, #8D5667); 
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100%; 
    text-align: center;

}

.upload-button:hover {
    background: linear-gradient(135deg, #8D5667, #C96567);
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(201, 101, 103, 0.6);
}

button {
    background: linear-gradient(135deg, #C96567, #8D5667); 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
}

button:hover {
    background: linear-gradient(135deg, #8D5667, #C96567);
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(201, 101, 103, 0.6);
}
/*
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
*/