body {
    font-family: Arial, sans-serif;
    background-color: #C96567;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #C96567; 
    border-bottom: 2px solid #C96567; 
}

h1 {
    font-size: 4.5em;
}


.header h1 {
    color: #C96567; 
    font-size: 4.5em;
}

.search-container {
    margin: 20px 0;
}

#searchInput {
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    margin-right: 10px;
    background-color: rgba(201, 101, 103, 0.3); 
    color: #ffffff;
    font-size: 1.2em;
}

#filterSelect {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(201, 101, 103, 0.3); 
    color: #ffffff;
    font-size: 1.2em;
}

.listings-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(236, 152, 171, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.job-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
    padding: 15px;
    background-color: rgba(201, 101, 103, 0.1); 
    border-radius: 8px;
    border: 2px solid #e4bad3;
}

.resume-link {
    margin-left: 20px; 
    color: #C96567; 
    text-decoration: none;
}

.job-details {
    flex-grow: 1;
}

.job-details h2 {
    color: #C96567; 
    margin: 0;
}

.job-details h3 {
    margin: 5px 0;
}

.job-details p {
    margin: 5px 0;
}

.job-details strong {
    color: #C96567;
}


.position {
color: aliceblue;

}




.navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}

.slide {
    height: 100%;
    width: 180px;
    background-color: white;
    position: absolute;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

.slide h1 {
    text-align: right;
    padding: 10px;
    padding-right: 35px;
    font-weight: 700;
    pointer-events: none;
}

i {
    margin: 10px;
}

.toggle {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 14px;
    left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

.toggle .common {
    height: 3px;
    width: 20px;
    background-color: black;
    position: absolute;
    border-radius: 50px;
    transition: 0.3 ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    display: none;
    visibility: hidden;
}

ul li {
    font-size: 20px;
    list-style: none;
    margin-top: 10px;
}

ul li a {
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
}

ul li:hover a {
    background-color: purple;
    color: white;
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .middle_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .bottom_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}



/* bottom navigation */
nav {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10; 
}

.btn {
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 34px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.btn .btn-icon {
   color:#bc5d5e;
    font-size: 24px;
    transform: translateX(100%);
    transition: all 0.3s;
}

.btn .btn-text {
    font-size: 18px;
    color: blueviolet;
    font-weight: 700;
    opacity: 0;
    transition: all 0.2s;
}

input:checked ~ .btn {
    cursor: default;
    /* background-color: purple; */
    background: linear-gradient(135deg, #C96567, #F6E6D9);
}

input:checked ~ .btn .btn-icon {
    color: white;
    transform: translate(-5px);
}

input:checked ~ .btn .btn-text {
    color: white;
    transform: translateX(20px);
    transition-delay: 0.2s;
    opacity: 1;
}


